<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>561120663389-m53pp99prcen1crbcna50p8kb4e5454m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561120663389-m53pp99prcen1crbcna50p8kb4e5454m</string>
	<key>API_KEY</key>
	<string>AIzaSyBw-H64qZNsEg4BtI67tJE3xvT7G1-N290</string>
	<key>GCM_SENDER_ID</key>
	<string>561120663389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sarvad-Shetty.Internals</string>
	<key>PROJECT_ID</key>
	<string>adg-internals</string>
	<key>STORAGE_BUCKET</key>
	<string>adg-internals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561120663389:ios:cf3731f77bf41934</string>
	<key>DATABASE_URL</key>
	<string>https://adg-internals.firebaseio.com</string>
</dict>
</plist>